<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
	<parameter name="platform" value="release" />
	<parameter name="sourcesDir" value="/sources" />
	<parameter name="CaseList" value="/case/CaseList.xlsx" />
	<parameter name="basePath" value="http://console.t.upvi.com/bapi" />
	
	<test name="离职" preserve-order="true">
		<groups>
			<define name="Resign">
				<include name="Offboard2_Smoke_Test" />
			</define>
		</groups>
		<classes>
			<class name="com.qifei.test.ProcessTest">
				<methods>
					<include name="Offboard2_Smoke_Test" />
				</methods>
			</class>
		</classes>
	</test>
	
	<test name="新增成员" preserve-order="true">
		<groups>
			<define name="Resign">
				<include name="addMember2_Test" />
			</define>
		</groups>
		<classes>
			<class name="com.qifei.test.ProcessTest">
				<methods>
					<include name="addMember2_Test" />
				</methods>
			</class>
		</classes>
	</test>
	<!-- 
	<test name="考勤流程测试" preserve-order="true">
		<groups>
			<define name="Leave">
				<include name="Attendance_Smoke_Test" />
			</define>
		</groups>
		<classes>
			<class name="com.qifei.test.ProcessTest">
				<methods>
					<include name="Attendance_Smoke_Test" />
				</methods>
			</class>
		</classes>
	</test>
	-->
</suite>