<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
	<parameter name="platform" value="pc" />
	<parameter name="sourcesDir" value="/sources" />
	<parameter name="CaseList" value="/case/CaseList.xlsx" />
	<parameter name="basePath" value="http://console.t.upvi.com/bapi" />
	
	<test name="单独用例测试" preserve-order="true">
		<groups>
			<define name="Attendance">
				<include name="add_Locations_Test" />
				<include name="modify_Locations_Test" />
			</define>
		</groups>
		<classes>
			<class name="com.qifei.apis.attendance.LocationsTest">
				<methods>
					<include name="add_Locations_Test" />
					<include name="modify_Locations_Test" />
				</methods>
			</class>
		</classes>
	</test>
</suite>